@page "/videogame"
@page "/videogame/{id:int}"

@if (Id is null)
{
    <h3>Create a new video game</h3>
}
else
{
    <h3>Edit "@game.Name"</h3>
}

<EditForm Model="game" OnSubmit="HandleSubmitAsync">
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="game.Name" class="form-control"></InputText>
    </div>
    <div>
        <label for="developer">Developer</label>
        <InputText id="developer" @bind-Value="game.Developer" class="form-control"></InputText>
    </div>
    <div>
        <label for="release">Release</label>
        <InputDate id="release" @bind-Value="game.Release" class="form-control"></InputDate>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
    @if (Id is not null)
    {
        <button type="button" class="btn btn-danger" @onclick="DeleteGame">Delete Game</button>
    }
</EditForm>

<h3>Video Game</h3>

@code {

}
